.hero-container {
    display: flex;
    align-items: center; /* vertikal rata tengah */
    justify-content: space-between; /* beri jarak kanan kiri */
    height: 100%; /* opsional, agar penuh layar */
    width: 100%;
    padding: 0 60px; 
    margin-top: 50px;
}

.title-container {
    flex: 1;
    left: 5%;
    position: absolute;
    width: 50%; /* atur lebar sesuai kebutuhan */
    background: transparent;
    margin-top: 50px;
}

.button-group {
    display: flex;
    position: absolute;
    gap: 20px; /* jarak antar tombol */
    margin-top: 20px; /* jarak atas */
}

.button-group .Layanan-button {
    background-color: transparent;
    color: white; /* warna teks tombol */
    border: 2px solid white; /* border putih */
    padding: 10px 20px; /* padding tombol */
}

.title-container h1 {
    font-size: 3rem; /* ukuran teks */
    color: white; /* warna teks */
    
}

.hero-image {
    flex: 1;
    display: flex;
    right: 0;
    position: absolute;
    justify-content: center;
    
}

.hero-image img {
    height: 10px;
    height: auto;
}

p {
    color: white; /* warna teks */
    font-size: 1.2rem; /* ukuran teks */
    margin-top: 20px; /* jarak atas */
}
button {
    background-color: #ffffff; /* warna latar belakang tombol */
    color: #005A71; /* warna teks tombol */
    border: none; /* hapus border */
    padding: 10px 20px; /* padding tombol */
    font-size: 1rem; /* ukuran teks tombol */
    cursor: pointer; /* ubah kursor saat hover */
    border-radius: 5px; /* sudut melengkung */
}
