.nav-links a.active {
    color: #009cc4;
}
.nav-links a.active::after {
    width: 100%;
}
.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 10px;
    left: 0;
    width: 100%;
    padding: 0 5%;
    background: transparent;
    transition: background 0.3s, box-shadow 0.3s;
    z-index: 10;
}

.navbar.scrolled {
    background: rgba(0, 90, 113, 0.95); /* Contoh warna solid saat discroll */
    box-shadow: 0 2px 8px rgba(0,0,0,0.1); /* Opsional efek bayangan */
}

ul {
    font-weight: bold;
    color: white;
}

li {
    display: inline-block;
    list-style-type: none;
    padding: 10px;
}

.nav-buttons {
    display: flex;
    gap: 10px;
    
}
.login, .register {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 800;
}

.nav-buttons .login {
    background-color: transparent;
    color: rgb(255, 255, 255);
}
.nav-buttons .register {
    background-color: white;
    color: black;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 18px;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


.nav-links a {
    position: relative;
    text-decoration: none;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: #009cc4;
    transition: width 0.3s ease;
}

.nav-links a:hover {
    color: #009cc4;
}
.nav-links a:hover::after {
    width: 100%;
}