body {
    /* display: flex; */
    margin: 0;

}

.home-page {
    min-height: 100vh; /* tinggi minimal halaman */
    height: 113vh; /* tinggi halaman */
    background: linear-gradient(to bottom right, #005A71 51%, #D7F7FF);
    width: 100vw;
    
}
